.App {
  text-align: center;  /* Center align content */
}

h1 {
  margin-top: 20px;  /* Add top margin */
}

#map {
  height: 80vh;   /* Set map height */
  width: 100%;    /* Set map width */
  position: relative;  /* Position map relative to parent */
}
